<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large"></ion-title>
  </ion-toolbar>
</ion-header>
<body>
  <ion-content [fullscreen]="true">  
    <div id="container">
      <h1>Alarm</h1>
      <h1>Planner</h1>
      <p></p>

      <form id="formulario">
        <div class="form-group">
          <input type="text" class="form-control" id="input" placeholder="Usuario">
        </div>
        <h1></h1>
        <div class="form-group">
          <input type="password" class="form-control" id="input" placeholder="Contraseña">
        </div>
        <h1></h1>
        <div class="form-group">
          <ion-button id="iniciar" color="danger">Iniciar</ion-button>
        </div>
        <h1></h1>
        <div class="form-group">
          <ion-button color="danger" fill="outline">Registrar</ion-button>
        </div>
        
      </form>
    </div>
  </ion-content>
</body>
